html {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: whitesmoke;
    background-color: #0a0a23;
}

.container {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-color: rgb(24, 100, 243);            /* Remove later */
    width: 30%;
    border-radius: 10px;
}

